html,
body,
#root,
.App {
  min-width: 100%;
  height: 110%;
  width: auto;
  background-color: #d3d3d3;
}

.App {
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: end;
  height: 10%;
}

#container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.charBox {
  display: flex;
  flex-direction: column;
}

#timer1,
#timer2 {
  display: flex;
  text-align: end;
  font-size: 2rem;
}

img {
  height: 150px;
}

#main {
  height: 100%;
}
#mainImg {
  height: 100%;
  background-size: cover;
  background-image: url("./images/nMpQXwq.jpg");
}

#charDropdown {
  width: 4%;
  height: 4%;
  background-color: white;
  border-radius: 6px;
  border-top-left-radius: 0px;
}

.charDrop {
  height: 33%;
  border-bottom: 1.5px solid grey;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
